<div id="container">
    <div class="map"
        *ngIf="mapBaseData"
        [ngClass]="{'map-full': tableViewState === false}">
        <yaga-map
            [(zoom)]="mapBaseData.initialZoomFactor"
            [lat]="mapBaseData.initialLat"
            [lng]="mapBaseData.initialLon">
            <yaga-attribution-control
                [display]="mapBaseData.attributionDisplay"
                [position]="mapBaseData.attributionPosition"
                [attributions]="mapBaseData.attributionName">
            </yaga-attribution-control>
            <yaga-zoom-control>
            </yaga-zoom-control>
            <yaga-tile-layer
                    [url]="mapBaseData.tileLayerUrl">
            </yaga-tile-layer>
        </yaga-map>
    </div>
    <div class="table" *ngIf="tableViewState">
        <div class="table-content">
            In here is a table.
        </div>
    </div>
    <div class="switch">
        <button (click)="switch()">
            switch
        </button>
    </div>
</div>
